
@keyframes pokeballHover {
    0% {
        transform: translateY(0);
    }

    25% {
        transform: translateY(-4px);
        transform: translateZ(1em);
    }

    80% {
        transform: translateY(4px);
            transform: translateZ(-1em);
    }

}
.pokeballHover:hover {
    animation: pokeballHover 1s ease 0s 2;
}