
#Container {
  height: 100vh;
  background-color: aquamarine;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

#Pokedex {
  background-color:darksalmon;
  background-size:initial;
  object-fit: initial ;
  position: relative;
}
/*---------------------------------TOP SCREEN----------------------------*/
#top_screen {
  z-index: 100;
  background-color: aqua;
  box-sizing: border-box;
  max-width: 361px !important;
  max-height: 333px !important;
  left: 371px;
  top: 49px;
  position: absolute;
  background: #E1E0E1;
  border: 20px solid #000000;
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 7px 7px 4px 17px rgba(0, 0, 0, 0.25); */
  border-radius: 10px;

  background: linear-gradient(339.78deg, #5675E7 2.47%, rgba(183, 34, 34, 0) 131.12%);
  background-blend-mode: hard-light;
  /* grid set up */
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(24,1fr);
  grid-auto-columns: 1fr;
}

header {
  background-color: #9ADCFF;
  display: flex;
  justify-content:space-between;
  grid-area: head;
  grid-row: 2;
  grid-column: 1/10;
  align-items: center;
  /* margin: 5px 0 0 0; */
  z-index: -2;
}

#sprite {
  grid-area: sprite;
  background-color: #5675E7;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
  grid-row: 4/15;
  grid-column: 1/7;
}

#sprite > img {
  max-width: 120px;
  max-height: 120px;
  height: auto;
  width: auto;
  display:block;
  margin-left: auto;
  margin-right: auto;
}
#ability {
  background-color:paleturquoise;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:flex-start;
  align-content:flex-start;
  padding: 2px;

  grid-row: 15/20;
  grid-column: 1/7;
}
#ability > div {
  font-size: 90%;
  width: 70px;
  text-align: center;
  vertical-align:middle;
  margin: 2px;
  padding: 2px;

  /* style */
  background-color: white;
  border-radius: 5px;
}
#info-section {
  grid-area: info;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  align-content:space-between;
  padding: 0.5em;
  background-color: #BCCEF8;
  grid-row: 4/18;
  grid-column: 7/13;
  
  border-radius: 10px 0 0 10px;
}

#info-section div:first-of-type article{
  /* add type coloring array */
}

#info-section > div{
  display: flex;
  justify-content: space-between;
}

#info-section > p {
  background-color: darkkhaki;
  padding: 0.2em;
  flex-basis: 50%;
  margin: 0;
}

#color1 {
  background-color: #87F9C9;
  grid-row:21/25;
  grid-column:5/13;
  clip-path: polygon(20% 100%, 100% 100%, 100% 0, 0 0 );
}
#color2 {
  grid-row:1/25;
  grid-column: 5/13;
  background-color: #E17E7E;
  clip-path: polygon(55% 0%, 100% 0, 100% 100%, 5% 100%);
  z-index: -1;
}
#index {
  color: white;
  font-size: 5em;
  grid-row: 21/25;
  grid-column:1/13;
  text-align: right;
  display:flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items:flex-end;
  z-index: 100;
}

#index > div:first-of-type {
  font-size: 0.35em;
  padding-bottom: 10px;
  padding-right: 6px;
}
#stat {
  color: white;
  grid-row: 22/25;
  grid-column: 1/5;
  padding-left: 8px;
  padding-bottom: 4px;
  display:flex;
  flex-direction: column;
  justify-content: flex-end;
}
/*---------------------------------BOT SCREEN--------------------------------*/
#bot_screen {
  z-index: 100;
  box-sizing: border-box;
  width: 361px;
  height: 332px;
  position: absolute;
  left: 371px;
  top: 506px;

  background: #E1E0E1;
  border: 20px solid #04c237;
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 7px 7px 4px 17px rgba(0, 0, 0, 0.25); */
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#gallery {
  background-color:pink;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}
#gallery > div {
  background-color:thistle;
}
#gallery > div > img {
  height: 80px;
  width: 80px;
  margin: 5px;
  background-color: khaki;
}
#gallery > div > div {
  display: flex;
  flex-direction: row;
  justify-content: left;
}


#scroll {
  display: flex;
  justify-content: space-between;
  margin: 1em;
}



/* ------------------------------Media Queries-------------------------------*/
@media screen and (max-width: 320px) { 

}


@media screen and (max-width: 800px) { 

}