@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap");

@import "./Bot_screen.css";
@import "./Top_screen.css";
@import "./components//pokemon/PokeCard.css";

#root {
  font-family: "Roboto", sans-serif;
  color: white;
}

* {
  box-sizing: border-box;
}
#Container {
  height: 100svh;

  display: flex;
  flex-direction: column;

  opacity: 0.8;
}

.background {
  /* main background */
  background-image: linear-gradient(
      30deg,
      #a2beff 12%,
      transparent 12.5%,
      transparent 87%,
      #a2beff 87.5%,
      #a2beff
    ),
    linear-gradient(
      150deg,
      #a2beff 12%,
      transparent 12.5%,
      transparent 87%,
      #a2beff 87.5%,
      #a2beff
    ),
    linear-gradient(
      30deg,
      #a2beff 12%,
      transparent 12.5%,
      transparent 87%,
      #a2beff 87.5%,
      #a2beff
    ),
    linear-gradient(
      150deg,
      #a2beff 12%,
      transparent 12.5%,
      transparent 87%,
      #a2beff 87.5%,
      #a2beff
    ),
    linear-gradient(
      60deg,
      #a2beff77 25%,
      transparent 25.5%,
      transparent 75%,
      #a2beff77 75%,
      #a2beff77
    ),
    linear-gradient(
      60deg,
      #a2beff77 25%,
      transparent 25.5%,
      transparent 75%,
      #a2beff77 75%,
      #a2beff77
    );
  background-size: 62px 109px;
  background-position: 0 0, 0 0, 31px 54px, 31px 54px, 0 0, 31px 54px;
}
