
#Container {
  height: 100vh;
  background-color: aquamarine;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

#Pokedex {
  background-color:darksalmon;
  background-size:initial;
  object-fit: initial ;
  position: relative;
}
/*---------------------------------TOP SCREEN----------------------------*/

/* add an underlying graphic to create cool effect */

#top_screen {
  z-index: 10;
  background-color: aqua;
  box-sizing: border-box;
  width: 361px !important;
  height: 333px !important;
  left: 371px;
  top: 49px;
  position: absolute;
  border: 20px solid #000000;
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 7px 7px 4px 17px rgba(0, 0, 0, 0.25); */
  border-radius: 10px;

  background: linear-gradient(339.78deg, #5675E7 2.47%, rgba(183, 34, 34, 0) 131.12%);
  background-blend-mode: hard-light;
  /* grid set up */
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(24,1fr);

}

#color3 {
  background-color: #9ADCFF;
  display: flex;
  justify-content:left;
  grid-row: 2;
  grid-column: 1/10;
  align-items: center;
  z-index: -2;
  filter: drop-shadow(0px 0px 7px rgba(0, 0, 0, 0.5));
}

header {
  grid-row: 2/7;
  grid-column: 1/6;
  font-size: 1.7em;
  text-align: center;
  color:white;
  line-height: 0.9em;
  filter: drop-shadow(4px 3px 2px rgba(0, 0, 0, 0.5));
}

#sprite {
  /* background-color: #5675E7; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
  grid-row: 6/18;
  grid-column: 1/6;
}

#sprite > img {
  max-width: 120px;
  max-height: 120px;
  height: auto;
  width: auto;
  display:block;
  margin-left: auto;
  margin-right: auto;
  /* add shadow to png */
  filter: drop-shadow(5px 5px 2px #000000)
}

#info-section {
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  align-content:space-between;
  padding: 0.5em;
  background-color: #BCCEF8;
  grid-row: 4/18;
  grid-column: 6/13;
  border-radius: 10px 0 0 10px;
  box-shadow: 0px 0px 4px 6px rgba(0, 0, 0, 0.25);
}

#info-section div:first-of-type article{
  /* add type coloring array */
}

#info-section > div{
  display: flex;
  justify-content: space-between;
}

#info-section > p {
  background-color: #FFD5E5;
  padding: 0.2em;
  flex-basis: 55%;
  margin: 2px 0px 2px 0px;
  font-size: 0.9em;
  filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.5));
  border-radius: 5px;
  padding: 5px 8px 5px 8px;

}
#colorMint {
  grid-row: 21/25;
  grid-column: 5/13;
  filter: drop-shadow(-2px 4px 6px rgba(0, 0, 0, 0.5));
}
#colorMint > div {
  background-color: #87F9C9;
  height:100%;
  width: 100%;
  clip-path: polygon(20% 100%, 100% 100%, 100% 0, 0 0 );
}
#colorRed {
  grid-row:1/25;
  grid-column: 5/13;
  filter: drop-shadow(-4px 0px 2px rgba(31, 31, 31, 0.5));
  z-index: -1;
}
#colorRed > div {
  background-color: #E17E7E;
  height: 100%;
  width: 100%;
  clip-path: polygon(55% 0%, 100% 0, 100% 100%, 5% 100%);
}
#index {
  font-size: 5em;
  grid-row: 21/25;
  grid-column:1/13;
  text-align: right;
  display:flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items:flex-end;
  color: white;
  z-index: 9;
  filter: drop-shadow(4px 3px 2px rgba(0, 0, 0, 0.5));
}

#index > div:first-of-type {
  font-size: 0.35em;
  padding-bottom: 10px;
  padding-right: 6px;
}
#stat {
  color: white;
  grid-row: 22/25;
  grid-column: 1/5;
  padding-left: 8px;
  padding-bottom: 4px;
  display:flex;
  flex-direction: column;
  justify-content: flex-end;
  filter: drop-shadow(4px 3px 2px rgba(0, 0, 0, 0.5));
}
/*---------------------------------BOT SCREEN--------------------------------*/
#bot_screen {
  z-index: 10;
  box-sizing: border-box;
  width: 361px !important;
  height: 332px !important;
  left: 371px;
  top: 506px;
  position: absolute;

  display: grid;
  grid-template-columns: repeat(25, 1fr);
  grid-template-rows: repeat(24, 1fr);

  background: #E1E0E1;
  border: 20px solid #000000;
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 7px 7px 4px 17px rgba(0, 0, 0, 0.25); */
  border-radius: 10px;
}

#bg_color {
  grid-row: 1/12;
  grid-column: 1/6;
  color: white;
  filter: drop-shadow(-2px 4px 6px rgba(0, 0, 0, 0.5));
  z-index: -1;
}
#bg_color > div {
  clip-path: polygon(0 0, 100% 0, 0 100%, 0 100%);
}

#bg_color > div {
  height: 100%;
  width: 100%;
  background-color: #E17E7E;
}

#gallery {
  grid-row: 1/22;
  grid-column: 1/26;
  /*display: grid;
  grid-template-columns: subgrid;
  grid-template-rows: subgrid; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding:2px;
  justify-content: space-evenly;
  align-content: space-evenly;
}

.card {
  width:80px;
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  justify-content: space-between;
  border-radius: 7px;
  font-size: 1.2em;
  /* padding: 5px 0 0 0; */
  background-color: #9ADCFF;
  filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.5));
}

#gallery > div > img {
  /* pokesprite */
  height: 70px;
  width: 70px;
  background-color:#FFE2E2;
  border-radius: 5px;
  filter: drop-shadow(3px 3px 1px rgba(0, 0, 0, 0.5));
}

#gallery > div > div {
  height: 20px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  /* background-color: #04c237; */
}
/* pokeball */
#gallery > div > div > img {
  height:20px;
  width: 20px;
}
#gallery > div > div > article {
  font-size: 1.8em;
  color: white;
  font-weight: bold;
  filter: drop-shadow(2px 0px 2px rgba(0, 0, 0, 0.5));
}
#scroll {
  grid-row: 22/25;
  grid-column: 1/26;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #04c237;
  margin: 10px 0 0 0;
}

#back_button {
  grid-row:22/26;
  grid-column: 14/20;
  background-color: #8EA7E9;
  z-index: 10;
}

#forward_button {
  grid-row:22/26;
  grid-column: 20/26;
  background-color:#BCCEF8;
  z-index: 10;
}
/* ------------------------------Media Queries-------------------------------*/
@media screen and (max-width: 320px) { 

}


@media screen and (max-width: 800px) { 

}